.Rhistory
.Rapp.history
.RData
.Rproj.user/
*.RData


/*_cache/
/cache/
*.utf8.md
*.knit.md

archive/*
resources/*
code.r.old/*
data/*
code.sas/*
code.stata/*
raw_data/*
results/*

*.html
*.dta
*.ppt
*.pptx
*.jar
*.png
*.js
*.css
*.xlsx
*.csv
*.Rda
*.parquet
*.pdf
*.rmarkdown
*.db
.vscode/settings.json
*/renv/library/*
